.body {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 25vw;
  height: 1000vw;
  margin-left: -1vw;
  margin-top: -1vw;
  box-shadow: 0vw 0.8vw 2vw 0vw black;
  background-image: url("navbar-bg.png");
  position: fixed;
  display: flex;
  flex-direction: row;
}

.navbar-1 {
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
}

.navbar-1-1 {
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.img-header {
  border-radius: 50%;
  width: 13vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-header {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5vw;
  color: white;
}

.button-wrapper {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-header {
  display: flex;
  height: 3.4vw;
  font-family: "Roboto Condensed", sans-serif;
  background-color: transparent;
  border: none;
  font-size: 1.7vw;
  cursor: pointer;
  color: white;
  border-bottom: 0.2vw solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.button-header:hover {
  border-bottom: 0.2vw solid white;
}

.content {
  /*background-image: url("navbar-bg.png");
  opacity: 0.5;*/
  display: flex;
  position: absolute;
  width: 61.9vw;
  height: 100vw;
  margin-top: -1vw;
  margin-left: 24.1vw;
  background-color: white;
  padding: 6vw;
  z-index: -1;
  border: 1px solid black;
}

.about {
  position: absolute;
  display: flex;
  width: 30vw;
  height: 19vw;
  background-color: white;
  box-shadow: 0vw 0.4vw 1vw 0vw black;
  border-radius: 1vw;
  z-index: 1;
}
