<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />

    <title>Ilham Kurnia S | Home</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="logo">
          <h1><span class="blue-light">Ilham's</span> Profile</h1>
        </div>
        <!--<nav>
          <ul>
            <li class="current"><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>-->
      </div>
    </header>
    <section id="showcase">
      <div class="container">
        <img src="./images/IKS.jpg" />
        <div id="home-summary">
          <h1>Hello there !</h1>
          <p>
            My name is Ilham Kurnia Syuriadi. Love games and programming. Have
            interest on front-end development. Study in Bandung at Telkom
            University with Informatics major. Hard worker and fast learner.
          </p>
        </div>
      </div>
    </section>
    <section id="quote">
      <div class="container">
        <h2>
          " Once you stop <span class="blue-light">learning</span>, you start
          <span class="red-light">dying</span> "
        </h2>
        <p>Albert Einstein</p>
      </div>
    </section>
    <section id="skills">
      <div class="container">
        <h1>Programming Language and Tools</h1>
      </div>
    </section>
    <!--<section id="find-me">
      <div class="container">
        <h2>You can also find me on:</h2>
        <div id="socmed-wrap">
          <div class="socmed">
            <img src="./images/download.png" />
            <h3>Twitter</h3>
          </div>
          <div class="socmed">
            <img src="./images/instagram logo.png" />
            <h3>Instagram</h3>
          </div>
          <div class="socmed">
            <img src="./images/github logo.svg" />
            <h3>Github</h3>
          </div>
          <div class="socmed">
            <img src="./images/linked in logo.png" />
            <h3>Linked In</h3>
          </div>
        </div>
      </div>
    </section>-->
    <footer>
      <div class="container">
        <p>
          Personal website by Ilham Kurnia Syuriadi, Copyright &copy; 2019
        </p>
      </div>
    </footer>
  </body>
</html>
