<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./images/logo/IL.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" 
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Ilham Kurnia Syuriadi</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><span class="blue-light">Ilham</span>'s Profile</h1>
      </div>
      <nav>
        <ul>
          <li><a class="scroll" href="#showcase">Home</a></li>
          <li><a class="scroll" href="#skills">Tools</a></li>
          <li><a class="scroll" href="#portofolio">Portfolios</a></li>
          <li><a class="scroll" href="#experiences">Experiences</a></li>
          <li><a class="scroll" href="#find-me">Contact</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
          <i class="material-icons" id="toggle">
            menu
          </i>
      </div>
        <!--<div id="logo">
          <h1><span class="blue-light">Ilham's</span> Profile</h1>
        </div>
        <nav id="pc-screen">
          <ul>
            <li><a href="#header">Home</a></li>
            <li><a href="#skills">Tools</a></li>
            <li><a href="#portofolio">Portofolios</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a>Contact</a></li>
          </ul>
        </nav>
        <nav id="mobile-screen">
                <i class="material-icons">menu</i>
              
        </nav>-->
    </header>
    <div id="home"></div>
    <section id="showcase">
      <div class="container">
        <img src="./images/IKS.jpg" />
        <div id="home-summary">
          <h1>Hello there!</h1>
          <p>
            My name is Ilham Kurnia Syuriadi. Love programming and games. Have
            interest on front-end development, artificial intelligence and machine learning. Study in Bandung at Telkom
            University with Informatics major. Hard worker and fast learner.
          </p>
        </div>
      </div>
    </section>
    <section id="quote">
      <div class="container">
        <h2>
          I walk <span class="blue-light">slowly</span>, but i never walk
          <span class="red-light">backward</span>
        </h2>
        <p>- Abraham Lincoln -</p>
      </div>
    </section>
    <section id="skills">
      <div class="container">
        <h1>Programming Languages and Tools</h1>
        <div id="current">
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/html5-original.svg" />
              <h4>HTML5</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/css3-original.svg" />
              <h4>CSS3</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/python-original.svg" />
              <h4>Python</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/nodejs-original.svg" />
              <h4>Node.js</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/javascript.svg" />
              <h4>JavaScript</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/express-original.svg" />
              <h4>Express.js</h4>
            </div>
          </div>
          <div class="skill-border">
            <div class="skill">
              <img src="./images/skills/jquery-original.svg" />
              <h4>jQuery</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portofolio">
      <div class="container">
        <h1>Portfolios</h1>
        <h3>Laundry Information System</h3>
        <p>
          I made this for my college task. Develop with html, css, javascript
          and express js. Click
          <a
            class="link"
            href="https://github.com/ilhamksyuriadi/Laundry-Information-System---Font-end"
            >here</a
          >
          for the source code and
          <a
            class="link"
            href="https://github.com/ilhamksyuriadi/Portofolio/tree/master/Laundry%20Information%20System"
            >here</a
          >
          for the image file.
        </p>
        <div class="scroll-box">
          <div class="img-wrapper"><img src="./images/portofolios/employee input.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/employee summary.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/employee washlist.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/login page.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/landing page about.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/landing page laundry now.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/landing page status.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/manager add account.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/manager report.JPG" /></div>
        </div>
        <h3>Telkom Codex Challenge 2018</h3>
        <p>
          It was a competion held by Telkom DDS. Develop with html, css and
          react js. I'm not join the competition, just made it to improve my
          skill. Click
          <a
            class="link"
            href="https://github.com/ilhamksyuriadi/Telkom-Codex-Front-End"
            >here</a
          >
          for the source code and
          <a
            class="link"
            href="https://github.com/ilhamksyuriadi/Portofolio/tree/master/Telkom%20Codex%20Challenge%202018"
            >here</a
          >
          for the image file.
        </p>
        <div class="scroll-box">
          <div class="img-wrapper"><img src="./images/portofolios/telkom codex team.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/telkom codex project.JPG" /></div>
          <div class="img-wrapper"><img src="./images/portofolios/telkom codex calendar.JPG" /></div>
        </div>
        <h3>Implementation of Artificial Intelligence and Machine Learning</h3>
        <p>
          As informatics student, artificial intelligence and machine learning
          is a compulsory subject. Usually in these subjects students will learn
          the concept in the class and do the implementation as a task. The task
          will be to do some classification or clustering to a set of data using
          algorithm we've studied in the class. Click on link below for mine.
        </p>
        <div class="scroll-box-table">
            <table>
                <tr>
                  <td>Simulated Annealing</td>
                  <td><span class="link">Source code</span></td>
                </tr>
                <tr>
                  <td>k-Nearest Neighbour</td>
                  <td><span class="link">Source code</span></td>
                </tr>
                <tr>
                  <td>Fuzzy Logic</td>
                  <td><span class="link">Source code</span></td>
                </tr>
                <tr>
                  <td>Probabilistic Neural Network</td>
                  <td><span class="link">Source code</span></td>
                </tr>
                <tr>
                  <td>k-Means Clustering</td>
                  <td><span class="link">Source code</span></td>
                </tr>
                <tr>
                  <td>Q-Learning</td>
                  <td><span class="link">Source code</span></td>
                </tr>
            </table>
        </div>
        <div></div>
      </div>
    </section>
    <section id="experiences">
      <div class="container">
        <h1>Experiences</h1>
        <div id="experiences-wrap">
          <div class="experience-wrap">
            <div class="experience">
              <div>
                <h3>Basic Algorithm Practicum Assistant</h3>
                <p>
                  Oversee the course of the lab and give some clue to students
                  on their lab task. Also give score to their work. At the end
                  of the semester I was tasked with guiding them in their final
                  assignment in the basic programming algorithm's subject.
                  Sometimes give score to their final assignments too, base on
                  their lecturer needs.
                </p>
              </div>
            </div>
          </div>
          <div class="experience-wrap">
            <div class="experience">
              <h3>Machine Learning Lecturer Assistant</h3>
              <p>
                Give score to machine learning task. The task will be a
                clustering or classification to a set of data. Conditionally
                i'll teach them is the class to base on their lecturer needs.
              </p>
            </div>
          </div>
          <div class="experience-wrap">
            <div class="experience">
              <h3>Web Development Study Group</h3>
              <p>
                This activity held by
                <a class="link" href="http://basisdatalab.com">Basisdata Lab</a
                >. In this activity i learng how to develop a website. Here I
                learn how to make website from zero. At the front-end i learn
                how to use html, css, javascript and bootstrap. At the back-end
                i learn how to use express js and MongoDB.
              </p>
            </div>
          </div>
          <div class="experience-wrap">
            <div class="experience">
              <h3>Big Data (Data Engineer) Study Group</h3>
              <p>
                This activity held by
                <a class="link" href="http://basisdatalab.com">Basisdata Lab</a
                >. In this activity i learn Big Data from Data Engineer's side.
                I learned how to make data fast to process. Also I learned how
                to use virtual machine, hadoop and other Data Engineer things.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="find-me">
      <div class="container">
        <h1>Get in Touch</h1>
        <div class="contact-wrapper">
          <div class="email-wrapper">
            <div>
                <img src="./images/contact/circle-email.png">
            </div>
            <h3>ilhamksyuriadi@gmail.com</h3>
          </div>
          <div class="resume-wrapper">
            <h3>See my resume</h3>
            <button>Here !</button>
          </div>
        </div>
        <!--<h2>You can also find me on:</h2>
        <div id="socmed-wrap">
          <div class="socmed">
            <img src="./images/download.png" />
            <h3>Twitter</h3>
          </div>
          <div class="socmed">
            <img src="./images/instagram logo.png" />
            <h3>Instagram</h3>
          </div>
          <div class="socmed">
            <img src="./images/github logo.svg" />
            <h3>Github</h3>
          </div>
          <div class="socmed">
            <img src="./images/linked in logo.png" />
            <h3>Linked In</h3>
          </div>
        </div>-->
      </div>
    </section>
    <footer>
      <div class="container">
        <p>
          Ilham Kurnia Syuriadi Personal Website &copy; 2019
        </p>
      </div>
    </footer>
  </body>
  <script src="./js/script.js"></script>
  <script src="./jquery/script.js"></script>
</html>
