body {
  padding: 0;
  margin: 0;
}

p,
tr {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
li {
  font-family: "Montserrat", sans-serif;
}

/*Global*/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.blue-light {
  color: rgb(0, 238, 255);
}

.red-light {
  color: red;
}

.hightlight {
  color: rgb(115, 246, 255);
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: rgb(66, 187, 196);
}

.link:hover {
  cursor: pointer;
  color: rgb(115, 246, 255);
}

/*Header*/
header {
  position: fixed;
  top: 0;
  padding: 0 100px;
  background: rgb(13, 21, 44);
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  line-height: 82px;
  padding: 0 18px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition-duration: 0.5s;
}

header nav ul li a:hover {
  background: #2196f3;
}

.menu-toggle {
  color: #fff;
  float: right;
  cursor: pointer;
  margin-top: 20px;
  display: none;
}

.active {
  background: rgb(43, 109, 196);
}

@media (max-width: 1000px) {
  header {
    padding: 0 20px;
  }

  header h1 {
    font-size: 26px;
  }

  header .logo {
    font-size: 14px;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(23, 37, 78);
    top: 66px;
    right: -100%;
    transition: 0.5s;
  }

  header nav.show {
    right: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    line-height: 65px;
  }
}

/*header {
  background: rgb(13, 21, 44);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

header li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header nav {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

header .hightlight,
header .current a {
  color: rgb(115, 246, 255);
  font-weight: bold;
}

header a:hover {
  color: rgb(1, 12, 46);
  background: rgb(0, 238, 255);
  font-weight: bold;
  cursor: pointer;
}

#mobile-screen {
  display: none;
}

@media screen and (max-width: 1000px) {
  #logo h1 {
    font-size: 24px;
  }

  #pc-screen {
    display: none;
  }

  #mobile-screen i {
    margin: 0;
    padding: 0;
  }
}*/

/*Showcase*/
#showcase {
  color: rgb(54, 54, 54);
  padding-top: 55px;
  padding-bottom: 60px;
  align-items: center;
  margin-top: 80px;
}

#home-summary {
  width: 700px;
  float: right;
}

#showcase img {
  width: 340px;
  border-radius: 10px;
}

#showcase h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
}

#showcase p {
  font-size: 22px;
  text-align: justify;
}

@media screen and (max-width: 1350px) {
  #home-summary {
    width: 600px;
    float: right;
    margin-left: 50px;
  }

  #showcase h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  #home-summary {
    width: 500px;
    float: right;
    margin-left: 50px;
  }

  #showcase h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
  #home-summary {
    width: 450px;
    float: right;
    margin-left: 50px;
  }

  #showcase h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  #home-summary {
    width: 400px;
    float: right;
    margin-left: 50px;
  }

  #showcase h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  #home-summary {
    width: 350px;
    float: right;
    margin-left: 50px;
  }

  #showcase h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  #showcase {
    margin-top: 50px;
  }

  #showcase .container {
    display: flex;
    flex-direction: column;
  }

  #home-summary {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  #showcase img {
    width: 250px;
    margin: auto;
  }

  #showcase h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
  }

  #showcase p {
    font-size: 18px;
  }
}

/*Quote*/
#quote {
  background: rgb(13, 21, 44);
  color: white;
  text-align: center;
  padding: 20px;
}

#quote h2 {
  font-size: 45px;
}

#quote p {
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  #quote h2 {
    font-size: 30px;
  }

  #quote p {
    font-size: 16px;
  }
}

/*Skills*/
#skills {
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(54, 54, 54);
}

#current {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}

#skills h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}

.skill {
  margin: auto;
  width: 90px;
  text-align: center;
}

.skill img {
  width: 70px;
}

.skill-border {
  margin: auto;
  width: 95px;
}

@media screen and (max-width: 1000px) {
  #skills {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #current {
    margin-top: 30px;
  }

  #skills h1 {
    font-size: 24px;
  }

  #skills h4 {
    font-size: 16px;
  }

  .skill {
    width: 80px;
  }

  .skill img {
    width: 60px;
  }
}

/*Portofolio*/
#portofolio {
  background: rgb(13, 21, 44);
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

#portofolio h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}

#portofolio p {
  text-align: justify;
}

#portofolio h3 {
  margin-top: 65px;
}

#portofolio img {
  width: 310px;
}

.scroll-box {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 160px;
  padding: 15px 0 15px 0;
  overflow: auto;
  background: #dfdfdf;
}

.img-wrapper {
  width: 320px;
  padding-left: 7px;
  padding-right: 7px;
}

.scroll-box img {
  border: 1px solid rgb(170, 170, 170);
  margin: auto;
}

.scroll-box-table {
  border: 1px solid white;
  overflow: auto;
  height: 160px;
  background: rgb(5, 16, 49);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 1000px) {
  #portofolio {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #portofolio h1 {
    font-size: 24px;
  }

  #portofolio h3 {
    margin-top: 60px;
  }

  #portofolio p {
    font-size: 15px;
    line-height: 21px;
  }

  td {
    font-size: 15px;
  }
}

/*Experience*/
#experiences {
  background: rgb(13, 21, 44);
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

#experiences h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
}

#experiences p {
  text-align: justify;
}

#experiences h3 {
  margin-top: 35px;
}

#experiences-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-wrap {
  width: 260px;
}

.experience {
  width: 230px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  #experiences {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #experiences h1 {
    font-size: 24px;
  }

  #experiences h3 {
    margin-top: 40px;
  }

  #experiences p {
    font-size: 15px;
    line-height: 21px;
  }
}

@media screen and (max-width: 670px) {
  #experiences-wrap {
    display: flex;
    flex-direction: column;
  }

  .experience-wrap {
    width: 100%;
    margin: auto;
  }

  .experience {
    width: 100%;
    margin: auto;
  }
}

/*Find me*/
#find-me {
  min-height: 270px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(54, 54, 54);
}

#find-me h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
}

#find-me h3 {
  font-size: 17px;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.contact-wrapper h2 {
  border-bottom: 1px solid black;
  margin-top: 50px;
}

.email-wrapper img {
  width: 90px;
}

.email-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  margin-top: 10px;
}

.resume-wrapper {
  display: flex;
  align-items: center;
  width: 235px;
  justify-content: space-between;
  margin-top: 10px;
}

.resume-wrapper button {
  background: rgb(5, 16, 49);
  color: white;
  border: none;
  font-size: 18px;
  height: 80px;
  width: 95px;
  border-radius: 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.resume-wrapper button:hover {
  background: #2196f3;
}

@media (max-width: 1000px) {
  #find-me {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #find-me h3 {
    font-size: 16px;
  }

  .email-wrapper img {
    width: 60px;
  }

  .email-wrapper {
    width: 290px;
  }

  .resume-wrapper {
    width: 206px;
  }

  .resume-wrapper button {
    height: 60px;
    width: 75px;
  }
}

/*#find-me .container {
  margin: auto;
}

#find-me h2 {
  text-align: center;
  margin-bottom: 30px;
}

#find-me img {
  width: 70px;
}

#socmed-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socmed {
  min-width: 150px;
  padding-top: 20px;
  text-align: center;
  float: left;
  margin: auto;
}*/

/*Footer*/
footer {
  background: lightgrey;
  padding: 50px;
}
footer p {
  text-align: center;
  font-size: 18px;
}
